#resume-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

#profile-picture {
    width: 100%;
}

#resume-footer {
    padding: 20px;
    text-align: center;
}

.border-bottom-gray {
    padding-bottom: 10px;
    border-bottom: solid 1px darkgray;
}

.work-position {
    margin-bottom: 40px;
}

.project {
    margin-bottom: 40px;
}



/* selectores por seccion*/

form {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 600;
    border: black solid 2px;
    padding: 1em;
    margin: 1em auto;
    width: min-content;
}

button {
    border-width: 3px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 1em auto 0;
    background-color: black;
    color: whitesmoke;
    font-weight: 600;
    width: 6em;
    height: 2em;
}

/* selectores por clase ---------------------------- */
.input-container {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}
.input-container input {
    margin-left: 1em;
}
.selector {
    justify-content: space-around;
}

.add-title {
    width: max-content;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.curriculum {
    flex-direction: column;
}
.curriculum input {
    margin: 0;
}
.curriculum input::-webkit-file-upload-button {
    border-width: 3px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    background-color: black;
    color: whitesmoke;
    font-weight: 600;
}


.job-description-container {
    list-style-type: none;
    height: min-content;
}

.main-job-container {
    display: flex;
    height: min-content;
    margin: 1.5em 0;
    border-bottom: darkgray solid 1px;
    padding-bottom: 1.5em; 
}

.job-logo-container {
    width: 25%;
    margin-right: 2em;
}
.job-logo {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.form-container {
    display: flex;
    min-width: max-content;
}

.label-container, .inputs-container {
    display: flex;
    flex-direction: column;
    min-width: max-content;
}
.label-container {
    margin-right: 2em;
}
