{% extends "layout.twig" %}

{% block content %}
   <h1 class="addJob-title">Add Job</h1>

   <div class="alert alert-primary" role="alert">
      {{ responseMessage }}
   </div>

   <form action="/jobs/add" method="post">
      <div class="input-container">
         <label for="">Title</label>
         <input type="text" name="title" id="">
      </div>
      </br>
      <div class="input-container">
      <label for="">Description</label>
      <input type="text" name="description" id="">
      </div>
      </br>
      <div class="input-container selector">
      <label for="job-type">Job Type</label>
         <select name="job-type" id="cars">
            <option value="job">Job</option>
            <option value="project">Project</option>
         </select>
      </div>

      <button type="submit">Save</button>
   </form>
{% endblock %}