{% extends "layout.twig" %}

{% block content %}
   <h1 class="add-title">Login</h1>

   <form action="/user/auth" method="post">
      {% if validationMessages %}
         {% if validationMessages == 'Registro exitoso' %}
            <div class="alert alert-success text-center" role="alert">
               <span>{{ validationMessages }}</span>
            </div>
         {% else %}
            <div class="alert alert-primary" role="alert">
               {% for message in validationMessages %}
                  <li>{{ message }}</li>
               {% endfor %}
            </div>
         {% endif %}
      {% endif %}
      <section class="form-container">
         <div class="label-container">
            <label for="email">Email</label> 
            </br>
            <label for="password">Password</label>
         </div>
         <div class="inputs-container">
            <input placeholder="Email" type="email" name="email" id="email">
         </br>
            <input placeholder="Password" type="password" name="password" id="password">
         </div>
      </section>
      <button type="submit">Login</button>
   </form>
{% endblock %}